name: goreleaser

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container:
      image: goreleaser/goreleaser-cross
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Workaround Git Security Warning
        run: |
          # See: https://github.com/actions/runner-images/issues/6775.
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - run: git fetch --force --tags
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.2'
          cache: true
      - uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.BOTTLE_RELEASE_TOKEN }}
